#loginSignupBox div {
    width: 50%;
    float: left;
    text-align: center;
    padding: 0.5em 0;
}

#loginSignupBox {
    display: block;
    height: 285px;
    width: 400px;
    background: white;
}

#loginSignupBox input {
    width: 96%;
    margin: 2% 2% 1% 2%;
    font-size: large;
    padding: 4px;
}